@{
    ViewData["Title"] = "My Podcasts";
}

<div class="text-center">
    <h1 class="display-4">My Podcasts</h1>
    <p>Check out our "Hickory-Smoked Pop Culture <a href="https://baconsale.com/">Podcast</a> " here on the Baconsale site.</p>
</div>